<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackvision.unitednewbies.shelteralert">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShelterAlertApp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activities.GuestProfileActivity"
            android:exported="true"
            android:parentActivityName=".Activities.CheckInActivity">
        </activity>
        <activity
            android:name=".Activities.CheckInActivity"
            android:exported="true">
        </activity>


    </application>

</manifest>